<section class="mb-3">
  <p>
    <span class="badge bg-info"><%= question.position %></span>
    <%= question.body.html_safe %>
  </p>
  
  <p class="hide-reveal">
    <span><%= question.answer %></span>
  </p>
  <hr>
</section>