<section class="mb-3">
  <p>
    <span class="badge bg-info" data-sortable-target="position"><%= question.position %></span>
    <strong class=""><%= question.body %></strong>
  </p>
  
  <p class="hide-reveal">
    <span><%= question.answer %></span>
  </p>
  <hr>
</section>