<% provide :page_title, t('.title') %>
<% currently_at t('menu.teams') %>

<h1 class="mb-4"><%= t('.title') %></h1>

<%= turbo_frame_tag 'teams' do %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

  <table class="mt-4 table table-striped table-hover">
    <thead>
      <tr>
        <th>Команда</th>
        <th>Последние 5 игр (место, взято вопросов, турнир)</th>
      </tr>
    </thead>
    <tbody>
      <%= render @teams %>
    </tbody>
  </table>
<% end %>