<p class="lead">Игра завершена!</p>

<%= link_to 'Результаты', game_answers_path(game_id: game), class: 'btn btn-info' %>
<%= link_to 'Команды и составы', game_playing_teams_path(game), class: 'btn btn-secondary' %>