<% provide :page_title, t('.title') %>
<% currently_at t('menu.home') %>

<article class="py-5 text-center">
  <h1 class="h1">GuideDAO Answer</h1>

  <p class="lead">
    Место, где сходятся лучшие команды.
  </p>

  <%= link_to 'Игры', games_path, class: 'btn btn-primary btn-lg' %>
</article>